<div class="w-full">
  <table class="table-auto">
    <thead>
      <tr>
        <% columns.each do |col| %>
          <th><%= col[:label] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% rows.each do |row| %>
        <tr>
          <% columns.each do |col| %>
            <td><%= col[:block].call(row) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
