<% content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
<% end %>
<%= turbo_stream_from "projects" %>

<h1 class="header1">Projects</h1>

<div class="container w-screen">
  <%= render "form", project: Project.new %>
</div>

<%= render ProjectsTableComponent.new(projects: @projects) %>
