<% content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
<% end %>

<h1 class="header1">
  <%= @project.title %>
</h2>
<div class="container w-screen">
  <%= render 'tasks/form', project: @project %>
</div>

<%= render TasksTableComponent.new(tasks: @project.tasks) %>
